<!DOCTYPE html>
<html>
<head>
<!-- logging Javascript errors -->
<script>'js log url not defined';</script>
<meta charset="utf-8" />
<!-- empty -->
<meta name="description" content="Plus de 10000 offres d'emploi informatique et freelances. Remixjobs sp&eacute;cialiste du recrutement informatique : consultant ing&eacute;nieur d&eacute;veloppeur designer int&eacute;grateur chef de projet ..." />
<meta name="apple-itunes-app" content="app-id=588567446, affiliate-data=none, app-argument=https://remixjobs.com/" />
<meta property="fb:app_id" content="362189248342" />
<meta property="og:type" content="website" />
<meta property="og:site_name" content="remixjobs" />
<meta property="og:url" content="https://remixjobs.com/" />
<meta property="og:title" content="Emploi informatique et recrutement freelance - RemixJobs" />
<meta property="og:description" content="Plus de 10000 offres d'emploi informatique et freelances. Remixjobs sp&eacute;cialiste du recrutement informatique : consultant ing&eacute;nieur d&eacute;veloppeur designer int&eacute;grateur chef de projet ..." />
<meta property="og:image" content="https://remixjobs.com/images/press/logos/logo2-450-140.png" />
<meta itemprop="name" content="remixjobs" />
<meta itemprop="description" content="Plus de 10000 offres d'emploi informatique et freelances. Remixjobs sp&eacute;cialiste du recrutement informatique : consultant ing&eacute;nieur d&eacute;veloppeur designer int&eacute;grateur chef de projet ..." />
<meta itemprop="image" content="https://remixjobs.com/images/press/logos/logo2-450-140.png" />
<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="@remixjobs" />
<meta name="twitter:title" content="Emploi informatique et recrutement freelance - RemixJobs" />
<meta name="twitter:description" content="Plus de 10000 offres d'emploi informatique et freelances. Remixjobs sp&eacute;cialiste du recrutement informatique : consultant ing&eacute;nieur d&eacute;veloppeur designer int&eacute;grateur chef de projet ..." />
<meta name="twitter:image" content="https://remixjobs.com/images/press/logos/logo2-450-140.png" />
<meta name="Language" content="fr" />
<meta name="og:title" content="D&eacute;veloppeur full-stack Ruby H/F en CDI &agrave; Paris-15E-Arrondissement" />
<meta name="og:description" content="Vous avez suivi la success story de Blablacar sur le covoiturage du weekend ? Rejoignez-nous dans l'aventure des trajets quotidiens !
VOUS
Mordu de beau code, vous jetez un regard int&eacute;ress&eacute; au #DernierFrameworkR&eacute;volutionnaire. Mais vos avanc&eacute;es du jour doivent avant tout &ecirc;tre robustes et maintenables, vous y reviendrez donc plus tardÉ
Demain, comme chaque semaine, vous comptez pousser vos derni&egrave;res &eacute;volutions en prod. Du coup, pas de temps &agrave; perdre pour faire dispara&icirc;tre les quelques " it="" should="" be="" tested"="" qui="" tra”nent="" encore.="" vous="" aviez="" aussi="" notŽ="" que="" l'attribut="" json="" "is_friendly_token"="" n'est="" pas="" top.="" cela="" travail="" depuis="" un="" moment="" :="" savez="" bien="" qu'une="" fois="" "live"="" il="" sera="" difficile="" d'en="" changer.="" partez="" donc="" ˆ="" la="" recherche="" dÕun="" meilleur="" nommage.="" l'aprs-midi="" est="" entamŽe,="" jetez="" maintenant="" coup="" d'oeil="" au="" monitoring="" et="" dŽtectez="" le="" endpoint="" "="" 1="" ust_be_fast"="" ne="" devrait="" tre="" lent.="" profitez="" du="" temps="" qu'il="" reste="" pour="" tenter="" refactoring.="" avec="" peu="" de="" chance,="" pourrez="" passer="" a="" en="" prod="" demain="" :)="" nous="" notre="" mission="" simpleÊ:="" diminuer="" chaque="" jour="" nombre="" vŽhicules="" sur="" les="" routes.="" cela,="" exploitons="" dernires="" technologies="" mobiles="" dŽveloppons="" une="" plateforme="" applicative="" toujours="" plus="" intelligente.="" gr‰ce="" ses="" utilisateurs="" entreprises="" partenaires,="" wayz-up="" aujourd'hui="" grand="" rŽseau="" covoiturage="" domicile-travail="" d'ile-de-france,="" 10.000="" trajets="" proposŽs="" par="" jour.="" aimons="" ruby="" car="" (presque)="" tout="" monde="" capable="" comprendre="" quelques="" lignes="" script="" permettent="" gŽnŽrer="" nos="" assets="" graphiques.="" rails="" sinatra,="" parce="" qu'ils="" ont="" permis="" crŽer="" rapidement="" service="" complet="" performant.="" missions="" c™tŽ="" cto,="" cyrille,="" prendrez="" lead="" dŽveloppement="" ruby.="" programme="" evolutions="" fonctionnelles,="" performances="" microservices,="" tests="" intŽgration="" continue,="" d'autres="" sujets="" funs="" perspective="" !="" profil="" systmes="" distribuŽs="" performantsvous="" passionne.="" lÕindustrialisation="" logiciellenÕa="" aucun="" secret="" vous.="" changer="" dÕair,="" aimez="" dŽvelopper="" front-end.="" adhŽrez="" devise="" ÇÊil="" nÕy="" a="" problme,="" des="" solutionsÊ!ÊÈ.="" avantages="" Žquipe="" jeune,="" crŽative="" passionnŽe="" macbook="" neuf="" rŽmunŽration="" 40-55k="" selon="" candidatures="" rendez-vous="" http:="" wayzup.workable.com"="" />
<meta name="og:type" content="article" />
<title>
D&eacute;veloppeur full-stack Ruby H/F - Paris-15E-Arrondissement - Wayz-Up : Offre d'emploi sur Remixjobs    </title>
<link href="https://d20j79yoy9sq5.cloudfront.net/assets/0/css/1b5eddb.css?0" rel="stylesheet" />
<link href="https://d20j79yoy9sq5.cloudfront.net/assets/0/css/43e5d30.css?0" rel="stylesheet" />
<link rel="stylesheet" href="https://d20j79yoy9sq5.cloudfront.net/assets/0/css/52a212d.css?0" />
<link rel="alternate" type="application/rss+xml" title="Remixjobs, le site d'emploi sp&eacute;cialis&eacute; dans les m&eacute;tiers du web et de l'informatique" href="https://remixjobs.com/rss" />
<!--[if lt IE 9]>
<script src="https://d20j79yoy9sq5.cloudfront.net/assets/0/js/0ed8706.js?0"></script>
<![endif]-->
<link rel="icon" href="https://d20j79yoy9sq5.cloudfront.net/assets/0/themed/blue/images/favicon-remixjobs.ico" type="image/x-icon" />
</head>
<body>
<!-- Google Tag Manager -->
<noscript>
<iframe class="iframe" height="0" src="//www.googletagmanager.com/ns.html?id=GTM-TKRTTT" style="display:none;visibility:hidden" width="0"></iframe>
</noscript>
<script type="text/javascript">
//<![CDATA[
(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-TKRTTT');
//]]>
</script>
<!-- End Google Tag Manager -->
<div id="topbar">
<a class="service" href="#">Tous nos services</a>
<div class="service-dropdown">
<h3>Nos services</h3>
<ul>
<li class="yellow"> <a href="/employer/wizard?utm_source=remixjobs.com&amp;utm_medium=nos_offres&amp;utm_campaign=remixjobs"> Poster une offre <span>Trouver le bon talent d&egrave;s maintenant</span> </a> </li>
<li class="pink"> <a href="http://cvtheque.remixjobs.com/"> Cvth&egrave;que <span>Parcourez plus de 40 000 profils de d&eacute;veloppeurs</span> </a> </li>
<li class="green"> <a href="http://remixjobsday.com" title="Evenements Remixjobs"> Recruter durant nos &Eacute;v&eacute;nements <span>Rencontre entre d&eacute;veloppeurs et startups</span> </a> </li>
</ul>
</div>
<div class="pull-right">
<a class="login" href="/login">Connexion</a>
</div>
</div>
<header class="site-header">
<div class="wrapper holder">
<a class="logo" href="/jobs"> <img src="https://d20j79yoy9sq5.cloudfront.net/assets/0/themed/blue/images/logo-remixjobs.png" alt="remixjobs" /> </a>
<div class="header-links">
<!-- - if not is_granted('ROLE_MEMBER') -->
<!-- %a.signin(href=path("rj_core_login", { 'redirect': '/account' })) = "header.sign.in.link"|trans -->
<a class="recuit" href="/jobs/create">Cr&eacute;er un annonce</a>
</div>
</div>
</header>
<section id="headtitle">
<div class="wrapper">
<h5 class="headtitle-title"> <strong>Counterfeit</strong> Offres d'Emploi <strong>Web</strong> <span class="and">&amp;</span> Recrutements <strong>Freelance</strong>. </h5>
</div>
</section>
<section id="content">
<div class="wrapper special">
<a class="return-home view-all-jobs" href="/jobs"> Voir toutes les offres </a>
<div class="layer">
<div class="job-head">

<a href="/jobs/updates/<%= jobs.id %>"> Mettre &agrave; jour ce job </a>
<div class="job-title">
<h1><%= jobs.title %></h1>
<ul class="job-infos">
<li> <a href="#"><%= jobs.company %></a> </li>
<li> <%= jobs.date %> </li>
<li> <%= jobs.contract %> </li>
<li> <%= jobs.localization %></a>  </li>
</ul>
</div>
<ul class="job-menu">
<li> <a class="apply" href="#apply"> Postuler </a> </li>
<li data-job-id="33444"> <a class="favorite " href="#" data-job-id="33444"> Ajouter &agrave; mes favoris </a> </li>
<li> <a class="st_sharethis_custom share-btn" href="#" st_url="https://remixjobs.com/emploi/Developpement/Developpeur-full-stack-Ruby-H-F/33444"> Partager </a> </li>
</ul>
</div>
<div class="job-wrapper ">
<div class="job-description">
<%= jobs.description %>
</div>
<div id="apply" class="job-apply offline">
<h2>Comment postuler ?</h2>
<p><strong>Vous pouvez postuler aux offres Remixjobs de plusieurs mani&egrave;res.</strong> Choisissez l'une des options ci-dessous:</p>
<ul class="choice">
<li> <label> <input type="radio" name="login" value="createCV" /> <a class="disabled" href="/login?redirect=%2Femploi%2FDeveloppement%2FDeveloppeur-full-stack-Ruby-H-F%2F33444"> Cr&eacute;er mon CV web en 2 minutes (+5 th&egrave;mes, import linkedin/viadeo) </a> </label>
<div class="cv-example">
<a class="cv" href="/images/themes/wanted.jpg" data-width="890" data-height="1555"> Wanted </a>
<a class="cv" href="/images/themes/minimalist.jpg" data-width="807" data-height="1490"> Minimalist </a>
<a class="cv" href="/images/themes/carbonate.jpg" data-width="890" data-height="1701"> Pulse </a>
</div> </li>
<li> <label> <input type="radio" name="login" value="postPDF" /> <span class="disabled"> Uploader mon CV Fichier (Pdf, word, odt) </span> </label>
<div id="applyFiles" class="form hide">
<form class="std-form-elements" action="/job/apply/submitFiles/33444" method="post" enctype="multipart/form-data" novalidate="novalidate">
<div class="form-row">
<label class="form-label required">Adresse e-mail&nbsp;<span class="mandatory-marker">*</span></label>
<div class="form-element">
<div class="input-wrapper input input-email">
<input type="email" id="file_application_email" name="file_application[email]" required="required" class="form-input-text" placeholder="" asdasd="" />
</div>
</div>
</div>
<div class="form-row">
<div class="form-row half">
<label class="form-label required">Pr&eacute;nom&nbsp;<span class="mandatory-marker">*</span></label>
<div class="form-element">
<div class="input-wrapper input input-text">
<input type="text" id="file_application_firstname" name="file_application[firstname]" required="required" class="form-input-text" placeholder="" asdasd="" />
</div>
</div>
</div>
<div class="form-row half half">
<label class="form-label required">Nom&nbsp;<span class="mandatory-marker">*</span></label>
<div class="form-element">
<div class="input-wrapper input input-text">
<input type="text" id="file_application_lastname" name="file_application[lastname]" required="required" class="form-input-text" placeholder="" asdasd="" />
</div>
</div>
</div>
</div>
<div class="form-row">
<div class="form-row ">
<label class="form-label">Choisissez votre CV</label>
<div class="form-element">
<div class="input-wrapper input input-file">
<input type="file" id="file_application_file" name="file_application[file]" class="form-input-text" placeholder="" asdasd="" />
</div>
</div>
</div>
</div>
<div class="form-row">
<label class="form-label required">Motivation&nbsp;<span class="mandatory-marker">*</span></label>
<div class="form-element">
<div class="input-wrapper textarea ">
<textarea id="file_application_comment" name="file_application[comment]" required="required" class="form-input-textarea"></textarea>
</div>
</div>
</div>
<div class="form-row"></div>
<div class="form-row"></div>
<div class="actions">
<input id="apply_files" type="submit" class="btn-blue submit" value="Postuler" />
</div>
</form>
</div> </li>
<li> <label class="disabled"> <input type="radio" name="login" value="remixCV" />
<form id="applyRemixCv" action="/login_check/remixcv" method="POST" target="_top">
<div>
<div class="input-wrapper input input-hidden">
<input type="hidden" id="openid_identifier" name="openid_identifier" class="form-input-text" placeholder="" value="http://remixcv.com" asdasd="" />
</div>
<div class="input-wrapper input input-hidden">
<input type="hidden" id="_target_path" name="_target_path" class="form-input-text" placeholder="" value="/emploi/Developpement/Developpeur-full-stack-Ruby-H-F/33444" asdasd="" />
</div>
<div class="input-wrapper input input-hidden">
<input type="hidden" id="_token" name="_token" class="form-input-text" placeholder="" value="l-pTRQu4sAUMma8mUA3rnOzOi9FZlxgP79KREaCcxS8" asdasd="" />
</div>
</div>
<button class="apply-form-button disabled" type="submit"> Postuler avec mon CV RemixCV </button>
</form> </label> </li>
<li> <label class="disabled"> <input type="radio" name="login" value="login" /> <a class="disabled" href="/login?redirect=%2Femploi%2FDeveloppement%2FDeveloppeur-full-stack-Ruby-H-F%2F33444"> Je poss&egrave;de d&eacute;j&agrave; un compte, m'authentifier </a> </label> </li>
</ul>
</div>
</div>
</div>
</div>
</section>
<footer class="site-footer">
<div class="wrapper site-footer-wrapper">
<div class="site-footer-column first-column">
<h4 class="site-footer-title">A propos de RemixJobs</h4>
<ul class="links-list">
<li class="link-wrapper"> <a class="link" href="/a-propos">&Agrave; propos</a> </li>
<li class="link-wrapper"> <a class="link" href="/presse">Presse</a> </li>
<li class="link-wrapper last"> <a class="link" href="/contact">Contact</a> </li>
</ul>
</div>
<div class="site-footer-column second-column">
<ul class="links-list">
<li class="link-wrapper"> <a class="link" href="/informations-legales">Informations l&eacute;gales</a> </li>
<li class="link-wrapper"> <a class="link" href="/cgu">CGU</a> &amp; <a class="link" href="/cgv">CGV</a> </li>
<li class="link-wrapper last"> <a class="link" href="http://blog.remixjobs.com" target="_blank">Blog</a> </li>
</ul>
</div>
<div class="site-footer-column">
<h4 class="site-footer-title">SERVICES</h4>
<ul class="links-list">
<li class="link-wrapper"> <a class="link" href="/">Offres d'emploi</a> </li>
<li class="link-wrapper"> <a class="link" href="/employer/wizard">Poster une offre</a> </li>
<li class="link-wrapper last"> <a class="link" href="/cv/new/step1">Cr&eacute;er mon CV</a> </li>
</ul>
</div>
<div class="site-footer-column">
<h4 class="site-footer-title">retrouvez-nous aussi</h4>
<ul class="links-list">
<li class="link-wrapper"> <a class="link" href="http://twitter.com/RemixJobs" rel="external">Twitter</a> </li>
<li class="link-wrapper"> <a class="link" href="http://www.facebook.com/Remixjobs" rel="external">Facebook</a> </li>
<li class="link-wrapper last"> <a class="link" href="https://remixjobs.com/rss" rel="external">RSS</a> </li>
</ul>
</div>
<div class="clear"></div>
</div>
<div class="wrapper">
<p class="copyright"> Copyright &copy;2014 RemixJobs. All Rights Reserved. </p>
</div>
</footer>
<noscript>
<div class="no-script-header">
RemixJobs fonctionne mieux avec le Javascript activ&eacute;
</div>
</noscript>
<script type="text/javascript">
//<![CDATA[
var require= {"baseUrl":"https:\/\/d20j79yoy9sq5.cloudfront.net\/assets\/0\/scripts\/modules\/","cacheVersion":0,"urlArgs":"v=0","waitSeconds":30,"paths":{"core":"https:\/\/d20j79yoy9sq5.cloudfront.net\/assets\/0\/bundles\/core\/js","employer":"https:\/\/d20j79yoy9sq5.cloudfront.net\/assets\/0\/bundles\/employer\/js","admin":"https:\/\/d20j79yoy9sq5.cloudfront.net\/assets\/0\/bundles\/admin\/js","jobseeker":"https:\/\/d20j79yoy9sq5.cloudfront.net\/assets\/0\/bundles\/nonemployer\/js","payment":"https:\/\/d20j79yoy9sq5.cloudfront.net\/assets\/0\/bundles\/payment\/js","media":"https:\/\/d20j79yoy9sq5.cloudfront.net\/assets\/0\/bundles\/media\/js","fselectmenu":"https:\/\/d20j79yoy9sq5.cloudfront.net\/assets\/0\/bundles\/fselectmenu\/js\/modules","affiliate":"https:\/\/d20j79yoy9sq5.cloudfront.net\/assets\/0\/bundles\/affiliate\/js","rjcvclient":"https:\/\/d20j79yoy9sq5.cloudfront.net\/assets\/0\/bundles\/rjcvclient\/js","rjmap":"https:\/\/d20j79yoy9sq5.cloudfront.net\/assets\/0\/bundles\/rjmap\/js","fpswfupload":"https:\/\/d20j79yoy9sq5.cloudfront.net\/assets\/0\/bundles\/fpswfupload\/js\/swfupload"}};
var CACHE_VER = require.cacheVersion;

//]]>
</script>
<script src="https://d20j79yoy9sq5.cloudfront.net/assets/0/js/573933b.js?0"></script>
<script type="text/javascript">
//<![CDATA[
require(['affiliate/referrer', 'jquery', 'jquery.cookie'], function(r) {
r.init();

$(document).ready(function(){
$('#topbar .service-dropdown, #topbar .account-dropdown').show();

$('#topbar .service, #topbar .account').click(function(event){
event.preventDefault();
event.stopPropagation();
$(this).next('div').toggleClass('visible');
});

$('body').click(function(){
if($('.service-dropdown').hasClass('visible')) {
$('.service-dropdown').removeClass('visible');
}

if ($('.account-dropdown').hasClass('visible')) {
$('.account-dropdown').removeClass('visible');
}
});
window.professionsContent = $.parseJSON(decodeURIComponent($.cookie('professions')));
});


});

define("jquery", function() {
return jQuery;
});


//]]>
</script>
<script type="text/javascript">
//<![CDATA[
$(function() {
require(['flashMessages'], function(flash) {
var messages = {"errors":[],"notices":[],"valids":[]};

var i = null;

i = messages['errors'].length;
while (i--) {
flash.show(messages['errors'][i], 'error', true);
}

i = messages['notices'].length;
while (i--) {
flash.show(messages['notices'][i], 'notice', true);
}

i = messages['valids'].length;
while (i--) {
flash.show(messages['valids'][i], 'valid', true);
}
});
});
//]]>
</script>
<script type="text/javascript" src="https://d20j79yoy9sq5.cloudfront.net/assets/0/js/b12392f.js?0"></script>
<script src="//ws.sharethis.com/button/buttons.js"></script>
<script type="text/javascript">
//<![CDATA[
stLight.options({publisher:'d0354f32-ec1a-4ca5-87e2-4027afdaa140', onhover: false});

$(function(){
$(window).on('scroll', function(event){
if(-$('html').offset().top > ($('.layer').offset().top+26)){
var calc = -$('html').offset().top - $('.layer').offset().top;

if(calc <= $('.layer').height()){
$('.job-menu').css({top: -$('html').offset().top - $('.layer').offset().top});
}
}else{
$('.job-menu').css({top: "26px"});
}
});
});

require(['favorite', 'modal', 'jquery.scrollTo'], function(favorite, modal) {
$('#apply .cv').on('click', function(e){
e.preventDefault();
var image = $('<div class="modal"><a href="#" class="close">close</a><img></div'),
mod;

image
.find('img')
.prop("src", $(this).prop('href'))
.prop("height", $(this).data('height'))
.prop("width", $(this).data('width'));
mod = modal(image);

mod.afterClose = function(){
e.preventDefault();
image.remove();
};

mod.open({append: true});
});

$('.favorite').on('click', function(e) {
e.preventDefault();
var $that = $(this);
var $elem = $that.parent();
var id = $elem.attr('data-job-id');
$elem.find('a').toggleClass('active');

var callback = function(is_error) {
if (is_error) {
$elem.find('a').toggleClass('active');
} else {
if ($elem.find('a').hasClass('active')) {
$that.html("Retirer de mes favoris");
} else {
$that.html("Ajouter ˆ mes favoris");
}
}
}
favorite.toggle(!$elem.find('a').hasClass('active'), id, callback);
});

$(window).load(function(){
var error = $('.error-text:first'),
errorForm = error.parentsUntil('ul').filter('li');

if (errorForm.length) {
$.scrollTo(errorForm, 300);
}
});
});


//]]>
</script>
<script type="text/javascript">
if (AntiMattr == null || typeof(AntiMattr) != 'object') { var AntiMattr = window.AntiMattr = {}; }
AntiMattr.GoogleAnalytics = {};

AntiMattr.GoogleAnalytics.onGatLoad = function(callback) {
if (typeof _gat != "undefined") {
callback();
} else {
var listener = this;
setTimeout(function(){
listener.onGatLoad(callback);
},100);
}
};

AntiMattr.GoogleAnalytics.notifyEvent = function(tracker, category, action, label, value) {
var event = [tracker + '_trackEvent', category, action];
if (typeof label != 'undefined') {
event.push(label);
if (typeof value != 'undefined') {
event.push(value);
}
}
_gaq.push(event);
};

if ( _gaq == null || typeof(_gaq) != 'array') { var _gaq = window._gaq = []; }

_gaq.push(['googleanalytics._setAccount', 'UA-9504700-1']);

_gaq.push(['googleanalytics._setDomainName', 'remixjobs.com']);

_gaq.push(['googleanalytics._setAllowAnchor', false ]);

_gaq.push(['googleanalytics._setAllowLinker', true ]);

_gaq.push(['googleanalytics._setAllowHash', false ]);

_gaq.push(['googleanalytics._setCustomVar', 1, 'type', 'job', 3]);
_gaq.push(['googleanalytics._setCustomVar', 2, 'id', '33444', 3]);



if (window.location.hash) {
_gaq.push(['googleanalytics._trackPageview', "\/emploi\/Developpement\/Developpeur-full-stack-Ruby-H-F\/33444" + window.location.hash]);
} else {
_gaq.push(['googleanalytics._trackPageview', "\/emploi\/Developpement\/Developpeur-full-stack-Ruby-H-F\/33444"]);
}




(function() {
var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
})();
</script>
</body>
</html>